apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: coffeebuddy
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: coffeebuddy
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s