apiVersion: v1
kind: Service
metadata:
  name: coffeebuddy
  labels:
    app: coffeebuddy
spec:
  selector:
    app: coffeebuddy
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http